{% extends "base.html.twig" %}

{% block body %}

<script>
window.onload = function () {
 let chartArray = document.getElementById('chartArray').textContent;
 
 chartArray =  JSON.parse(chartArray);
const chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	exportEnabled: true,
	title:{
		text: "Daily expenses "
	},
	subtitles: [{
		text: "Prices in PLN"
	}],
	data: [{
		type: "pie",
		showInLegend: "true",
		legendText: "{label}",
		indexLabelFontSize: 16,
		indexLabel: "{label} - #percent%",
		yValueFormatString: "#,##0zł",
		dataPoints: chartArray,
	}]
});

chart.render();
 
}
</script>

<div class="container">
<div class="row"> 
{#  #}
<div class="col-md">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Total spent:</h5>
    <p> Healthy food:    {{totalData.healthyFood}}         </p>
    <p> Unealthy food:   {{totalData.unhealthyFood}}            </p>
    <p> Farmacy:     {{totalData.farmacy}}         </p>
    <p> Clothes:      {{totalData.clothing}}        </p>
    <p> Household:     {{totalData.household}}         </p>
  </div>
</div>
</div>

{#  #}
{#  #}
<div class="col-8 ">
<p id="chartArray" style="display:none;">{{chartArray}} </p>
<div class="mb-3" >
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</div>
</div>
</div>


{# <p>Received : {{dump(data)}} </p>  #}
List of receipts:
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">HEALTHY FOOD</th>
      <th scope="col">UNHEALTHY FOOD</th>
      <th scope="col">FARMACY</th>
      <th scope="col">CLOTHES</th>
      <th scope="col">HOUSEHOLD</th>
      <th scope="col">DATE</th>
    </tr>
  </thead>
  <tbody>
  {% for item in data %}
    <tr>
      <th scope="row">{{item.id}} </th>
      <th scope="row"> {{item.healthyFood}} zł</th>
      <th scope="row"> {{item.unhealthyFood}} zł</th>
      <th scope="row"> {{item.farmacy}} zł</th>
      <th scope="row"> {{item.clothing}} zł</th>
      <th scope="row"> {{item.household}} zł</th>
      <th scope="row"> {{item.createdate}} </th>
    </tr>
   {% endfor %}
    
  </tbody>
</table>
</div>



{% endblock %}